rules_version = '2';
service cloud.firestore {match /databases/{database}/documents {
 function signedIn(){return request.auth!=null;}
 function allowed(){return signedIn() && request.auth.token.email in ['nagarajan.p@craftsilicon.com','manopriya.k@craftsilicon.com','nidhi.s@craftsilicon.com','kashinath.s@craftsilicon.com'];}
 function manager(){return signedIn() && request.auth.token.email=='nagarajan.p@craftsilicon.com';}
 function username(){return request.auth.token.email=='nagarajan.p@craftsilicon.com'?'nagarajan':request.auth.token.email=='manopriya.k@craftsilicon.com'?'manopriya':request.auth.token.email=='nidhi.s@craftsilicon.com'?'nidhi':'kashinath';}
 match /templates/{id}{allow read:if allowed();allow write:if manager();}
 match /tasks/{id}{allow read,create:if allowed();allow update:if manager()||(allowed()&&resource.data.assigned_to==username());allow delete:if manager();}
 match /activity/{id}{allow create:if allowed();allow read:if manager();allow update,delete:if false;}
 match /{document=**}{allow read,write:if false;}
}}
